<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.5" targetFramework="net45" requireReinstallation="true" />
  <package id="linqtotwitter" version="5.0.0" targetFramework="net461" />
  <package id="MEFedMVVM" version="1.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="NLog" version="4.6.8" targetFramework="net45" />
  <package id="Prism" version="4.1.0.0" targetFramework="net45" />
  <package id="Prism.MEFExtensions" version="4.1.0.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.2" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.3" targetFramework="net45" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net461" />
</packages>