<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true"
			internalLogToConsole="true" internalLogToConsoleError="true">

	<variable name="logDirectory" value="${basedir}/logs"/>

	<targets>
		<default-wrapper xsi:type="AsyncWrapper" />
		<!--<target name="file" xsi:type="File" deleteoldfileonstartup="true" fileName="${logDirectory}/touch.log" layout="${longdate} ${message} ${exception:format=ToString,StackTrace} ${onexception}" />-->
		<target xsi:type="EventLog" name="eventLog" source="MVVM Twitter" layout="${longdate} ${level:uppercase=true}${newline}${logger}:${message}${newline}Stacktrace:${newline} ${exception:format=ToString,StackTrace}${newline}"/>
		<target name="ds" xsi:type="OutputDebugString" layout="${stacktrace:topFrames=1}() ${level:uppercase=true}: ${message} ${exception:format=tostring} ${onexception}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="ds" />
		<logger name="*" minlevel="Fatal" writeTo="eventLog" />
	</rules>
</nlog>
